<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ngx-qrcode
    [elementType]="elementType"
    [errorCorrectionLevel]="correctionLevel"
    [value]="value"
    cssClass="bshadow"
  ></ngx-qrcode>
  <ng-container *ngIf="scannedText; else noText">
    <h3>Gescannter Text</h3>
    <label>{{scannedText}}</label>
    <hr />
    <ion-button (click)="scannedText=null">Erneut aufnehmen</ion-button>
  </ng-container>
  <ng-template #noText>
    <zxing-scanner
      [enable]="scannerEnabled"
      (camerasFound)="camerasFoundHandler($event)"
      (camerasNotFound)="camerasNotFoundHandler($event)"
      (scanSuccess)="scanSuccessHandler($event)"
      (scanError)="scanErrorHandler($event)"
      (scanFailure)="scanFailureHandler($event)"
      (scanComplete)="scanCompleteHandler($event)"
    ></zxing-scanner
  ></ng-template>
</ion-content>
