<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> List of CMRs </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CMRs</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header> August 2020 </ion-list-header>
    <ion-item-sliding>
      <ion-item>
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>X2298</h2>
          <h3>NAVI TRANS -> Bitcargo Snt.Gallen</h3>
          <p>21.08.2020</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="tertiary">
          <ion-icon slot="end" name="key-outline"></ion-icon
          >Sign</ion-item-option
        >
        <ion-item-option color="danger">
          <ion-icon slot="end" name="archive"></ion-icon>Delete</ion-item-option
        >
        <ion-item-option color="primary">
          <ion-icon slot="end" name="information-circle-outline"></ion-icon
          >Status</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
    <ion-item>
      <ion-icon name="document-text-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>X2298</h2>
        <h3>NAVI TRANS -> Bitcargo Snt.Gallen</h3>
        <p>21.08.2020</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon
        name="checkmark-outline"
        style="color: lightblue"
        slot="start"
      ></ion-icon>
      <ion-label>
        <h2>X2298</h2>
        <h3>NAVI TRANS -> Bitcargo Snt.Gallen</h3>
        <p>21.08.2020</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon
        name="checkmark-outline"
        style="color: lightblue"
        slot="start"
      ></ion-icon>
      <ion-label>
        <h2>X2298</h2>
        <h3>NAVI TRANS -> Bitcargo Snt.Gallen</h3>
        <p>21.08.2020</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header> Juli 2020 </ion-list-header>
    <ion-item>
      <ion-icon
        name="checkmark-done-outline"
        style="color: lightgreen"
        slot="start"
      ></ion-icon>
      <ion-label>
        <h2>X2298</h2>
        <h3>NAVI TRANS -> Bitcargo Snt.Gallen</h3>
        <p>21.07.2020</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon
        name="checkmark-done-outline"
        style="color: lightgreen"
        slot="start"
      ></ion-icon>
      <ion-label>
        <h2>X2298</h2>
        <h3>NAVI TRANS -> Bitcargo Snt.Gallen</h3>
        <p>21.08.2020</p>
      </ion-label>
    </ion-item>
    <ion-item-divider>
      <ion-label> Readonly </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-icon
        name="checkmark-done-outline"
        style="color: lightgreen"
        slot="start"
      ></ion-icon>
      <ion-label>
        <h2>X2298</h2>
        <h3>NAVI TRANS -> Bitcargo Snt.Gallen</h3>
        <p>21.07.2020</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon
        name="checkmark-done-outline"
        style="color: lightgreen"
        slot="start"
      ></ion-icon>
      <ion-label>
        <h2>X2298</h2>
        <h3>NAVI TRANS -> Bitcargo Snt.Gallen</h3>
        <p>21.07.2020</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
